header {
    background-color: blue;
    color: rgb(220, 220, 220);
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}

nav{
    background-color: blue;
    font-size: 18px;
    margin:0px;
}

ul li{
    display: inline-block;
    margin-left: 25px;
}
a {
    color: rgb(220, 220, 220);
    margin-top: 50px;
    background-color: blue;
}
ul{
    margin: 0px;
}