/* Atividades a serem realizadas
Personagens pertencentes à Nintendo©
1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser. */

.super-mario {
    width: 200px;
    position: absolute;
    z-index:2;
  }
  
  .goomba {
    width: 100px;
    position:absolute;
    z-index:1;
  }
  
  .baloon {
    text-decoration: none;
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
  }